	  <div id="modal-backdrop" class="hidden"></div>
	  <div id="berlin-modal" class="hidden">
		  <div class="modalbox">
			  <div class="modal-header">
				  <h2>Berlin</h2>
				<button type="button" id="modal-close-berlin" class="modal-hide-button">&times;</button>
			  </div>
			  <div class="modal-body">
				  <p>Berlin is the capital and largest city of Germany by both area and population.
				  athwart an east-west commercial and geographic axis that helped make it the capital 				  of the kingdom of Prussia and then, from 1871, of a unified Germany. Berlin is situated 				  about 112 miles (180 km) south of the Baltic Sea, 118 miles (190 km) north of the 				  Czech-German border, 110 miles (177 km) east of the former inner-German border, and 				  55 miles (89 km) west of Poland. It lies in the wide glacial valley of the Spree River, 				  which runs through the centre of the city.</p>
			  </div>
		  </div>
	</div>
	
		  <div id="modal-backdrop" class="hidden"></div>
		  <div id="munich-modal" class="hidden">
			  <div class="modalbox">
				  <div class="modal-header">
					  <h2>Munich</h2>
					<button type="button" id="modal-close-munich" class="modal-hide-button">&times;</button>
				  </div>
				  <div class="modal-body">
					  <p>Munich, German München, city, capital of Bavaria Land (state), southern Germany. It is Bavaria’s largest city and the third largest city in Germany. Munich, by far the largest city in southern Germany, lies about 30 miles (50 km) north of the edge of the Alps and along the Isar River, which flows through the middle of the city. In the well-preserved historical center you find charming little pedestrian streets, beautiful old churches and small authentic shops that give an idea of the city’s long tradition of Bavarian culture. Beyond old town you find extensive and well-kept public parks such as the green spaces along Isar River as well as English Gardens and hilly Olympiapark. With an impressive range of top-class museums, theaters, the famous Munich Opera House and an agile independent cultural scene Munich is one of Europe’s centers of arts and music.</p>
		  </div>
	  </div>
  </div>
		  
		  <div id="modal-backdrop" class="hidden"></div>
		  <div id="hamburg-modal" class="hidden">
			  <div class="modalbox">
				  <div class="modal-header">
					  <h2>Hamburg</h2>
					  <button type="button" id="modal-close-hamburg" class="modal-hide-button">&times;</button>
				  </div>
				  <div class="modal-body">
					  <p>Hamburg, a major port city in northern Germany, is connected to the North Sea by the Elbe River. It's crossed by hundreds of canals, and also contains large areas of parkland. Near its core, Inner Alster lake is dotted with boats and surrounded by cafes. The city's central Jungfernstieg boulevard connects the Neustadt (new town) with the Altstadt (old town), home to landmarks like 18th-century St. Michael’s Church.</p>
				  </div>
			  </div>
		  </div>